.label {
  display: block;
  margin-bottom: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-gray-700);
}

.required {
  color: var(--color-danger);
  margin-left: 0.25rem;
}
